@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header {
    padding: 0px 100px;
    height: 70px;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    box-shadow: 1px 1px 4px 0px black;
}

header label i {
    font-size: 20px;
    color: rgb(155, 253, 9);
    cursor: pointer;
}

header ul {
    display: flex;
}

header ul li {
    margin: 12px;
    cursor: pointer;
}

header ul li:hover {
    color: rgb(153, 255, 0);
}

.loginpage {
    height: 100vh;
    top: 0;
    right: 0;
    width: 300px;
    z-index: 1;
    position: fixed;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s ease;
    border-left: 1px solid green;
}

.loginpage .buttons button {
    height: 40px;
    width: 80px;
    background-color: transparent;
    border: 1px solid rgb(5, 255, 101);
    outline: none;
    color: black;
    cursor: pointer;
}

.loginpage .buttons button:hover {
    background-color: rgb(88, 143, 6);
    color: white;
}

.loginpage i {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
}

.loginpage i:hover {
    transform: rotate(360deg);
    transition: 0.8s ease;
}

.login {
    border: 1px solid green;
    margin-top: 20px;
    padding: 20px;
    height: 250px;
    width: 200px;
}

.login h1 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.login input {
    border: 1px solid rgb(88, 143, 6);
    outline: 1px solid rgb(88, 143, 6);
    height: 40px;
    width: 90%;
    margin-bottom: 15px;
    padding: 0 10px;
}

.login .loginbtn {
    margin-top: 10px;
    height: 40px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.login .loginbtn:hover {
    background-color: rgb(88, 143, 6);
    color: white;
}

.login a p {
    text-align: right;
    font-size: 12px;
    margin-bottom: 5px;
}

.register {
    display: none;
    height: 300px;
}

.carousel {
    height: 400px;
}

.subjects {
    margin: 50px 0px;
}

.subjects h1 {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}

.subjects ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding: 30px 80px;
}

.subjects ul li .cards {
    height: 180px;
    width: 120px;
    border: 2px solid hsl(144, 100%, 52%);
    background-color: rgba(168, 209, 200, 0.45);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.subjects ul li .cards:hover {
    background-color: rgba(16, 251, 114, 0.916);
    border-color: rgba(168, 209, 200, 0.45);
}

.subjects ul li .cards i {
    font-size: 80px;
    text-align: center;
    margin-bottom: 10px;
}

.subjects ul li .cards h6 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.subjects ul li .cards p {
    color: rgb(94, 92, 92);
}

footer {
    display: flex;
    padding: 30px 100px;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(168, 209, 200, 0.45);
}

footer .upside {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer .top {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: space-around;
}

footer .top h1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

footer .educa p {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 10px;
}

footer .educa i {
    margin-right: 5px;
    color: green;
}

footer .educa .logos i {
    font-size: 30px;
    margin-right: 5px;
}

footer .links ul li {
    color: black;
    font-size: 16px;
    margin-bottom: 10px;
}

footer .links a:hover {
    text-decoration: underline;
}

footer .ulinks a:hover {
    text-decoration: underline;
}

footer .ulinks ul li {
    color: black;
    font-size: 16px;
    margin-bottom: 15px;
}

footer .newsletter p {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 10px;
}

footer .newsletter input {
    height: 25px;
    width: 100%;
    outline-color: green;
    border: 1px solid green;
    padding: 10px;
    margin-bottom: 10px;
}

footer .newsletter button {
    height: 40px;
    cursor: pointer;
    width: 100px;
}

.upside {
    margin-bottom: 10px;
}

hr {
    height: 1px;
    background-color: green;
}

.endtxt p {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}